

<h4>{{formTitle}}</h4>
<form>
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name ="username" placeholder="Enter your username here"> 
    </div>
    
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Enter our password">
    </div>
    <button type="button" (click)="onLoginClicked()">Login</button>
  </form>
